<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>672043546280-eib3ru3ue6v4odrtrhvudp24fasfg7g9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672043546280-eib3ru3ue6v4odrtrhvudp24fasfg7g9</string>
	<key>API_KEY</key>
	<string>AIzaSyDuutChoSyLJhoJG_sLMmARzmlO_iTBOBU</string>
	<key>GCM_SENDER_ID</key>
	<string>672043546280</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.KyrillvanSeventer</string>
	<key>PROJECT_ID</key>
	<string>divestuff-3a356</string>
	<key>STORAGE_BUCKET</key>
	<string>divestuff-3a356.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672043546280:ios:3630bb2af1d79745</string>
	<key>DATABASE_URL</key>
	<string>https://divestuff-3a356.firebaseio.com</string>
</dict>
</plist>